.manage-order-container {
  .orders-content {
    .btn-add-new {
      margin: 15px 0;
    }

    .table-orders-container {
      width: inherit;
      overflow-x: auto;
    }
  }

  .title {
    font-weight: 600;
    font-size: 20px;
  }
}
